.jumbotron {
    background-color: lightsalmon;
    color:black;
    margin-top: 50px;
}
.jumbotron_pag1{
background-image: url("../images/muza.jpg");
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-shadow: 5px 5px 8px  black;
    font-weight:900 ;
    font-size: xx-large;}

.jumbotron_pag1 h1{
    font-size: 2em;}

footer {
    margin-top: 20px;
    padding: 10px 10px 0 10px;
    background-color: lightsalmon;
    margin-bottom: 0px;
    margin
}

.card-hotel {
    flex: 1 200px;
    margin-top: 10px;
}

.btn-menu {
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon, .icono-span-basket {
    padding-right: 20px;
}
.oi-star{
    color:goldenrod;
}
.tab-content{
    padding-top:10px ;
}